<h1>List of Apartments</h1>

<ul>
  <% @apartments.each do |apartment| %>
  <li>El numero del Depto es <%= apartment.numero_depto %>, y su Building ID es <%= apartment.building_id %>
  <%= link_to "View", "/apartments/show/#{apartment.id}" %></li>
  <%= link_to "Delete", "/apartments/#{apartment.id}", :method => "delete" %></li>
  <% end %>
</ul>
